doctype html
html
    head
        title Mmeli Node Js CRUD
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='#') MMIT
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/') Employees
                    li.nav-item
                        a.nav-link(href='/employees/add') Add Employees
                        
        
        .container
            block content
            br
            hr
            footer
                p Copyright &copy; 2020 Designed by Mmeli Mbatha
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')